In [20]:
import numpy as np
import os
import pandas as pd

# Visualize Final Partition

In [21]:
# Copied from VisTruncOctahedron
def gen_face(faces_str, vertices_str, color_rgb='<red_val, green_val, blue_val>'):
    for face_str in faces_str:
        print('// ' + face_str)
        print('polygon {')

        face = face_str[1:-1].split(',')
        print('\t{},'.format(len(face)))

        vtx_str = ""
        for vi in face:
            vtx_str += "<" + vertices_str[int(vi)][1:-1] + ">, "
        vtx_str = vtx_str[:-2] # Remove last comma
        print('\t' + vtx_str)

        print('\tfinish { ambient 0.42 specular 0.5 }')
        print('\tpigment { rgb ' + color_rgb + ' }')
        print('}\n')

## Set Parameters

In [7]:
K = 2
S = 10
honeycomb_type = "grid" # "grid" or bcc"

In [10]:
colors = np.array([[251, 112, 82], [227, 0, 118], [40, 165, 0], [40, 175, 175]]) / 255.
colors_str = ['<' + ','.join(list(color.astype(str))) + '>' for color in colors]

In [8]:
partition_fname = "partition_{}_{}_K{}.csv".format(honeycomb_type, S, K)

## Load Partition

In [9]:
dfpart = pd.read_csv(partition_fname)
dfpart.head()

   cell_id  part
0        0     2
1        1     2
2        2     2
3        3     1
4        4     1

## Load semicolon-separated version of Voro++ output

In [23]:
in_fname = f"../generate_input/{honeycomb_type}/{honeycomb_type}_{S}.csv"

In [28]:
in_fname_sc = f"../tmp/{honeycomb_type}_{S}_sc.csv"
if not os.path.exists(in_fname_sc):
    raise Exception(f"Missing semicolon-separated version of {in_fname}. Not found at {in_fname_sc}")

In [29]:
df = pd.read_csv(in_fname_sc, sep=';', header=1)
df = df.set_index('ID')
df.head()

,No. Neighbors,Neighbors,Faces,Vertices
ID,,,,
0,6,100 -3 -5 10 -1 1,"(1,5,7,3) (1,0,4,5) (1,3,2,0) (2,3,7,6) (2,6,4...","(0,0,0) (1,0,0) (0,1,0) (1,1,0) (0,0,1) (1,0,1..."
1,6,101 -3 0 11 2 -1,"(1,3,5,2) (1,0,4,3) (1,2,6,0) (2,5,7,6) (3,4,7...","(0,0,1) (1,0,1) (1,1,1) (1,0,2) (0,0,2) (1,1,2..."
2,6,102 -3 1 12 3 -1,"(1,3,5,2) (1,0,4,3) (1,2,6,0) (2,5,7,6) (3,4,7...","(0,0,2) (1,0,2) (1,1,2) (1,0,3) (0,0,3) (1,1,3..."
3,6,103 -3 2 13 4 -1,"(1,3,5,2) (1,0,4,3) (1,2,6,0) (2,5,7,6) (3,4,7...","(0,0,3) (1,0,3) (1,1,3) (1,0,4) (0,0,4) (1,1,4..."
4,6,14 104 3 -1 5 -3,"(1,7,2,3) (1,5,6,7) (1,3,0,5) (2,4,0,3) (2,7,6...","(0,0,4) (1,1,4) (0,1,5) (0,1,4) (0,0,5) (1,0,4..."